<!-- Donate section-->
<section class="p-5" id="Donate">
    <div class="container mb-5 shadow border-0 card-custom rounded-0">
        <!-- bs5 no-gutters -> g-0 -->
        <div class="d-table-row no-gutters">
            <div class="d-table-cell px-3 align-middle text-center">
                <h1>
                    <i class="fa-fw fas fa-coins"></i>
                </h1>
            </div>
            <!-- bs5 border-left -> border-start -->
            <div class="col-sm-auto border-white my-3 px-3 py-2 border-left">
                <div class="container">
                    <h4 class="card-title mb-3 fw-bolder">Donate</h4>
                </div>
                <a
                    class="text-decoration-none"
                    href="https://github.com/sponsors/LizardByte"
                    target="_blank">
                    <img class="m-3 crowdin-ignore"
                         alt="GitHub Sponsors"
                         src="https://img.shields.io/github/sponsors/lizardbyte?label=Github%20Sponsors&style=for-the-badge&color=green&logo=githubsponsors"
                    >
                </a>
                <a
                    class="text-decoration-none"
                    href="https://www.patreon.com/LizardByte"
                    target="_blank">
                    <img class="m-3 crowdin-ignore"
                         alt="Patreon"
                         src="https://img.shields.io/badge/dynamic/json?color=green&label=Patreon&style=for-the-badge&query=patron_count&url=https%3A%2F%2Fapp.lizardbyte.dev%2Fdashboard%2Fpatreon%2FLizardByte.json&logo=patreon"
                    >
                </a>
                <a
                    class="text-decoration-none"
                    href="https://www.paypal.com/paypalme/ReenigneArcher"
                    target="_blank">
                    <img class="m-3 crowdin-ignore"
                         alt="PayPal"
                         src="https://img.shields.io/static/v1?style=for-the-badge&label=PayPal&message=Donate&color=green&logo=paypal"
                    >
                </a>
            </div>
        </div>
    </div>
</section>
