<li class="list-group-item bg-dark text-white">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ include.item.name }}</strong>
            {% if include.item.version %}<span class="ms-2 badge bg-secondary">{{ include.item.version }}</span>{% endif %}
            <small class="d-block text-muted">
                <a href="{{ include.item.url }}" target="_blank" class="text-info">{{ include.item.url }}</a>
            </small>
        </div>
        <span class="badge bg-primary">{{ include.item.license }}</span>
    </div>
</li>
