<!-- Support -->
<section class="p-5" id="Support">
    <div class="mx-auto mb-5">
        <div class="container shadow border-0 bg-primary rounded-0">
            <div class="d-table-row g-0">
                <div class="d-table-cell px-4 align-middle text-center">
                    <h3 class="fw-bolder">Support Center</h3>
                    <div>Find answers and ask questions.</div>
                </div>
                <div class="col-sm-auto border-white my-3 px-4 py-2 border-start">
                    <p class="card-text">
                        <em>The one who knows all the answers has not been asked all the questions.</em>
                        – Confucius.
                    </p>
                    <div class="input-group mb-2">
                        <a href="{{ '/support' | relative_url }}">
                            <button class="btn btn-outline-light rounded-0"
                                    id="button-support"
                                    type="button"
                            >Support</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
