{% capture tabs_id %}tabs-{% increment tabs_counter %}{% endcapture %}
<div class="tabs" id="{{ tabs_id }}">
    <div class="nav" role="tablist">
        {% for tab in include.tabs %}
        <div class="nav-item">
            <button
                    class="nav-link {% if forloop.first %}active{% endif %}"
                    id="{{ tabs_id }}-tab-{{ forloop.index0 }}"
                    data-tab-name="{{ tab.name | escape }}"
                    data-bs-toggle="tab"
                    data-bs-target="#{{ tabs_id }}-pane-{{ forloop.index0 }}"
                    type="button"
                    role="tab"
                    aria-controls="{{ tabs_id }}-pane-{{ forloop.index0 }}"
                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
            >{{ tab.name }}</button>
        </div>
        {% endfor %}
    </div>
    <div class="tab-content">
        {% for tab in include.tabs %}
        <div
                class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                id="{{ tabs_id }}-pane-{{ forloop.index0 }}"
                role="tabpanel"
                aria-labelledby="{{ tabs_id }}-tab-{{ forloop.index0 }}"
        >
            {% if include.index and include.index >= 0 %}
                {{ tab.content[include.index] | markdownify }}
            {% else %}
                {{ tab.content | markdownify }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
